body {
  height: 100%;
  color: #212121 !important;
  position: relative;
  font-family: Mulish, sans-serif !important;
  scroll-behavior: smooth;
  padding-top: 80px; 
  margin: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-radius-small: 10px;
}

.section {
  padding: 100px 0;
  width: 100%;
}

.section {
  padding: 2rem 0;
}

.xtraBold {
  font-weight: 800 !important;
}
/* 
@media (max-width: 575px) {
  .section {
    padding: 60px 0;
  }
} */
